@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
:root {
    /* color */
    --color-background-body: hsl(0, 0%, 96%);
    --color-background: hsl(0, 0%, 90%);
    --color-background-alt: hsl(0, 0%, 84%);

    --color-text: hsl(0, 0%, 10%);
    --color-text-bright: #fff;
    --color-text-muted: #a9b1ba;

    --color-link: #06A3DA;
    --color-primary: #34AD54;
    --color-secondary: hsl(110, 39%, 51%);
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: hsl(356, 58%, 56%);
    --color-danger: #dc3545;

    --color-border: #526980;
    --color-shadow: #999999;
    --color-box-shadow: #e6e6e6;

    --color-form-border: #526980;
    --color-form-focus: #0096bfab;
    --color-form-placeholder: #a9a9a9;
    --color-form-text: #fff;

    /* font family */
    --font-family-primary: 'Roboto Condensed', sans-serif;
    --font-family-title: var(--font-family-primary);
    --font-family-nav: var(--font-family-primary);
    --font-family-logo: 'Montserrat', sans-serif;

    /* font weight */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;

    /* font size */
    --font-size-100: .625rem;
    --font-size-200: .75rem;
    --font-size-300: .875rem;
    --font-size-400: 1rem;
    --font-size-500: 1.25rem;
    --font-size-600: 1.5rem;
    --font-size-700: 1.75rem;
    --font-size-800: 2rem;
    --font-size-900: 2.375rem;

    /* line height */
    --line-height-100: 1;
    --line-height-200: 1.15;
    --line-height-300: 1.25;
    --line-height-400: 1.5;
    --line-height-500: 1.7;
    /* letter spacing */
    --letter-spacing-100: -0.05em;
    --letter-spacing-200: 0.05em;
    --letter-spacing-300: 0.1em;

    /* other */
    --animation-duration: 0.1s;
    --hover-brightness: .85;
    --active-brightness: 1.2;
    --box-shadow: 0px 1px 2px;
    --button-shadow: 0px 1px 3px;
    --border-radius: 5px;
}

body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-medium);
    line-height: var(--line-height-200);
    color: var(--color-text);
    background-color: var(--color-background-body);
}

/* Links */
a {
    color: var(--color-link);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    filter: brightness(var(--active-brightness));
    text-decoration: underline;
}

a:hover {
    filter: brightness(var(--hover-brightness));
    text-decoration: underline;
}

p {
    line-height: var(--line-height-400);
}

/* Headings */
h1 {
    font-size: var(--font-size-800);
}

h2 {
    font-size: var(--font-size-700);
}

h3 {
    font-size: var(--font-size-600);
}

h4 {
    font-size: var(--font-size-500);
}

h5 {
    font-size: var(--font-size-400);
}

h6 {
    font-size: var(--font-size-300);
}

hr {
    background-color: var(--color-background-alt);
    border: none;
    height: 1px;
    margin: 1rem 0;
    width: 100%;
}

/* Form & Buttons*/
input,
select,
textarea {
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    /* margin-bottom: 1rem; */
    padding: 0.4rem 0.8rem;
}

a.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    box-shadow: var(--button-shadow) var(--color-shadow);
    color: inherit;
    font-weight: var(--font-weight-semiBold);
    text-decoration: none;
    /* display: inline-block; */
    margin: 0.5rem 0;
    padding: .4rem 1.2rem;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled {
    cursor: not-allowed;
    filter: none;
}

textarea {
    resize: vertical;
}

label {
    margin-right: .8rem;
}

input[type="checkbox"] {
    margin-right: .8rem;
}

/* Popup dialog */
dialog {
    border: 1px solid var(--color-background-alt);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 999;
}

/* Details */
details summary {
    font-weight: bold;
    cursor: pointer;
}

/* Tables */
table {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

table td,
table th,
table tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
}

table thead {
    background-color: var(--color-table);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    color: var(--color-bg);
    margin: 0;
    padding: 0;
}

table thead th:first-child {
    border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
    border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
    text-align: var(--justify-normal);
}

table tr:nth-child(even) {
    background-color: var(--color-accent);
}

/* Image */
figure {
    margin: 0;
}

img,
picture,
svg {
    max-width: 100%;
    display: block;
}


/* Layouts */



/* Buttons */

.btn-small {
    padding: .3rem .6rem;
}

.icon-btn {
    background-color: var(--color-background-alt);
    border-color: var(--color-background-alt);
    box-shadow: none;
    padding: .4rem .6rem;
}

ul[role="menu"] {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

@media (min-width:768px) {
    .container {
        --padding: 2rem;
    }
}

.container-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.overflow-hidden {
    overflow: hidden;
}
.table {
    max-width: 900px;
}

@media only screen and (max-width: 768px) {
    aside {
        display: none;
    }
}

/* Aside */
.box {
    border: 1px solid var(--color-background-alt);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-box-shadow);
    padding: .8rem 1rem;
    margin-bottom: .8rem;
    min-width: 285px;
}

.box:hover {
    box-shadow: var(--box-shadow) var(--color-box-shadow);
}

.box h2 {
    margin-top: 0;
}


.navbar {
    background-color: var(--color-info);
    display: flex;
    place-items: center;
    justify-content: space-between;
    /* padding: 1rem 0rem; */
}

.navbar a {
    color: black;
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-light);
    text-transform: uppercase;
    padding: .6rem .8rem;
}

.navbar a:hover {
    text-decoration: none;
    /* background-color:var(--color-text-bright); */
    background-color:#fff;
    filter: none;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}

.headerLogo a {
    font-family: var(--font-family-logo);
    font-weight: var(--font-weight-semiBold);
}